<!--
Project name: OBD - Organização Brasileira de Dardos
Property: Organização Brasileira de Dardos
Developers: Guilherme Altomar by IA
Start date of this page: Nov-19-2025
Last update: Nov-19-2025
Description: This is the BASE template of all OBD DASHOBDRD pages. It cotains the main top, bottom and lateral menu and the block content.
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dartboard-theme.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    {% block csslib %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    {% endblock %}
</head>

<body>

    <!-- OBD: start Main menu -->
    <nav class="navbar navbar-expand-lg navbar-dartboard fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">OBD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Informações</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'boaleagues' %}">Ligas do OBD</a></li>
                            <li><a class="dropdown-item" href="{% url 'boaplayers' %}">Jogadores OBD</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'champions:boachampions' %}">Ver Campeões</a></li>
                            <li><a class="dropdown-item" href="{% url 'league:orderofmerit' %}">OBD Order Of Merit</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'events' %}"><i class="bi bi-calendar-event"></i>
                                    Eventos</a></li>
                            <li><a class="dropdown-item" href="{% url 'news' %}"><i class="bi bi-newspaper"></i>
                                    Notícias</a></li>
                            <li><a class="dropdown-item" href="{% url 'documents' %}"><i
                                        class="bi bi-file-earmark-text"></i> Documentos</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Aprenda a jogar</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" target="_blank"
                                    href="https://www.youtube.com/c/NaMosca180/videos">Na Mosca
                                    180</a></li>
                            <li><a class="dropdown-item" href="#">Whatsapp Dardos Online</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://www.godartspro.com/register/?uid=eDb61A"
                                    target="_blank">GoDarts
                                    PRO</a></li>

                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Organizações</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="https://www.pdc.tv" target="_blank">PDC</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="mailto:organizacaobrasileiradedardos@gmail.com"> <i
                                class="bi bi-envelope"></i>
                            organizacaobrasileiradedardos@gmail.com</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Olá {% if user.profile.nickname %}{{user.profile.nickname }}{% else %}{{ user.first_name }} {{ user.last_name }}{% endif %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'players:logout' %}">Sair</a></li>
                            <li><a class="dropdown-item" href="{% url 'players:dashboard' %}">Meu Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'players:access' %}">Atualizar Login</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Reportar Bug</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Olá Dardista!</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/subscribe/">Registrar-se</a></li>
                            <li><a class="dropdown-item" href="{% url 'players:login' %}">Entrar</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!-- OBD: end Main menu -->
    <br>

    <!-- Here start the main block template to be used in all OBD pages-->
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="list-group">
                        <a href="{% url 'administrators:dashboard' %}"
                            class="list-group-item list-group-item-action active" aria-current="true"> <strong>OBD
                                Dashboard</strong></a>
                        <a href="{% url 'enviroments:dashboard' %}" class="list-group-item list-group-item-action"><i
                                class="bi bi-gear-fill"></i> Configurações OBD</a>
                        <a href="{% url 'administrators:members' %}" class="list-group-item list-group-item-action"><i
                                class="bi bi-person-lines-fill"></i> Associados</a>
                        <a href="{% url 'league:create' %}" class="list-group-item list-group-item-action"><i
                                class="bi bi-asterisk"></i> Cadastrar Ligas</a>
                        <a href="{% url 'league:management' %}" class="list-group-item list-group-item-action"><i
                                class="bi bi-card-list"></i> Gerenciar Ligas</a>
                        <a href="{% url 'administrators:scraping_dashboard' %}"
                            class="list-group-item list-group-item-action" style="color: red; font-weight: bold;"><i
                                class="bi bi-cloud-download"></i> CAPTURA DE TORNEIOS (NOVO)</a>
                        <a href="{% url 'players:audit' %}" class="list-group-item list-group-item-action"><i
                                class="bi bi-ui-checks"></i> Backup (Resultados)</a>
                        <a href="{% url 'players:logout' %}" class="btn btn-warning"><i
                                class="bi bi-box-arrow-left"></i> Sair do Sistema</a>
                        <a href="https://forms.gle/ke92g2pztnd4Jk99A" class="btn btn-danger">Reportar Erro/Melhoria.
                        </a>
                    </div>
                    <p><br></p>
                    <div>

                    </div>

                </div>
                <div class="col-1">
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="alert alert-info" role="alert">Você está na página <i class="bi bi-arrow-right"></i>
                            <strong>{% block page %} {% endblock %}</strong> / Logado como: {{ user.username | upper
                            }}<strong></strong>
                        </div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

    </div>
    <br>
    <!-- Here ends the main block template content -->

    <!-- OBD: start Inner menu -->
    <!-- OBD: start Inner menu -->
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <a class="navbar-brand" href="/"><strong>OBD Online</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">




                    {% if user.is_authenticated %}
                    {% if perms.profiles.has_admin_role %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'administrators:dashboard' %}">| Admin</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'players:logout' %}">| Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'players:login' %}">| Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:organizacaobrasileiradedardos@gmail.com">| <i
                                class="bi bi-envelope"></i>
                            organizacaobrasileiradedardos@gmail.com</a>
                    </li>

                </ul>

                <a class="navbar-brand" href="https://brdardos.mercadoshops.com.br/lista/jogos-salao-jogo-dardos/dardos"
                    target="_blank"><strong><i class="bi bi-cart4"></i> Loja BR Dardos</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>


                <form class="d-flex" action="/brdardos/go/" method="GET" target="_blank">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" id="brsearch" name="brsearch"
                        placeholder="Dardos & Acessórios" aria-label="brsearch">
                    <button class="btn btn-warning" type="submit">Pesquisar </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- OBD: end Inner menu -->
    <br>

    <!-- The SCRIPT import from BOOSTSTAP lib and files-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    {% block jslib %}
    {% endblock %}
</body>

</html>