{% extends 'baseuser.html' %}
{% block csslib %}
{% endblock %}
{% block title %} Página Geral do Jogador {% endblock %}
{% block styles %}
{% endblock %}
{% block page %}Principal Dashboard OBD{% endblock %}
{% block content %}

<h5><strong><i class="bi bi-person-lines-fill"></i> Contatos do OBD</strong></h5>
<br>
<p></p>
<p>
    <i class="bi bi-whatsapp"></i> <strong>Entre no nosso grupo WhatsApp aqui:</strong>
    <a href="https://chat.whatsapp.com/DXtHYPEpmcb7sldYZuBaVz?mode=hqrc" target="_blank">https://chat.whatsapp.com/DXtHYPEpmcb7sldYZuBaVz?mode=hqrc</a> <br>

    <i class="bi bi-envelope"></i> <strong>E-mail geral do OBD:</strong> <a
        href="mailto:organizacaobrasileiradedardos@gmail.com">organizacaobrasileiradedardos@gmail.com</a>
</p>
<p></p>
<h5><strong><i class="bi bi-list-stars"></i> OBD CARD ASSOCIATION *****</strong></h5>
<br>
<p></p>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <span class="badge bg-primary ">
                <div class="card-header"><strong>OBD Member Card ***** {% now "Y" %}</strong></div>
            </span>
            <div class="card-body text-dark">
                <h6 class="card-title"><strong>{{ user.first_name }} {{ user.last_name }} | {{
                        user.profile.country}}</strong></h6>
                <p class="card-text" align="center">
                    OBD ID - {{ user.profile.pin }} <br>
                    Desde - {{ user.profile.created_at|date:"d/m/y" }}<br>
                    <span class="badge bg-dark">***** {{ user.username }} *****<br></span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <span class="badge bg-primary ">
                <div class="card-header"><strong>OBD Member Card ***** {% now "Y" %}</strong></div>
            </span>
            <div class="card-body text-dark">
                <h6 class="card-title"><strong>{{ user.first_name }} {{ user.last_name }} |
                        {% if perms.profiles.has_admin_role %}
                        <span class="badge bg-success">Admin<br></span>
                        {% else %}
                        <span class="badge bg-danger">Player<br></span>
                        {% endif %}
                    </strong></h6>
                <p class="card-text" align="center">
                    {{ user.stat.get_bcmClass_display }} | Divisão {{ user.stat.get_bcmDiv_display }} <br>
                    OBD Points - <span class="badge bg-warning text-dark">{{ user.stat.bcmPoints }}</span><br>
                    Average - <span class="badge bg-warning text-dark">{{ user.stat.bcmAvg }}</span> <br>
                </p>
            </div>
        </div>
    </div>
    <p><br></p>


    <h5><strong><i class="bi bi-list-stars"></i> Link público de seu perfil:</strong></h5>
    <p>
        {% if user.profile.pin and user.first_name and user.last_name %}
        <i class="bi bi-arrow-right"></i> <a
            href="{% url 'profiles:publicprofile' pin=user.profile.pin first=user.first_name last=user.last_name %}">Ver
            perfil público</a><br>
        {% else %}
        <span class="text-muted">Perfil público indisponível (dados incompletos)</span>
        {% endif %}
    </p>
    <p></p>

    <h5><strong><i class="bi bi-list-stars"></i> Situação na liga:</strong></h5>
    <p>
        {% if perms.profiles.can_play_league %}
        <span class="badge bg-success">Habilitado para jogar<br></span>
        {% else %}
        <span class="badge bg-danger">Não habilitado para jogar<br></span>
        {% endif %}
    </p>
    <p><br></p>

    <h5><strong><i class="bi bi-list-stars"></i> Estatísticas de {{ user.first_name }} {{ user.last_name }}</strong>
    </h5>


    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align: center; vertical-align: middle;">#ID</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Classe</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">OBD Score</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Best Leg</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Melhor Fechada</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Média</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Títulos</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Jogos</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Triunfos</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">100+</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">140+</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">170+</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">180+</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" style="text-align: center; vertical-align: middle;">{{ user.id }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.get_bcmClass_display }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmPoints }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmLeg }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmOut }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmAvg | floatformat:"2" }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ total }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.leagueParticipation }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmWin }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmTon }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmTon40 }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmTon70 }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ user.stat.bcmTon80 }}</td>

            </tr>
        </tbody>
    </table>
    <p><br></p>
    <h5><strong><i class="bi bi-graph-up"></i> Histórico das médias (10 jogos) | {{ title }}</strong></h5>
    <p><br></p>
    {% if graph %}
    <div>
        <canvas id="myChart"></canvas>
        <p><br></p>
    </div>
    {% else %}
    <p>Sem jogos registrados no momento.</p>
    {% endif %}

</div>



{% endblock %}
{% block jslib %}


{% if graph %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
    datasets: [{
        label: 'Médias (AVG)',
        data: {{ data | safe }},
        fill: true,
        backgroundColor: [
        'rgba(99,143,255,0.2)',
    ],
        borderColor: [
        'rgb(14,41,103)',
    ],
        borderWidth: 3
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
    });
</script>
{% endif %}

{% endblock %}