<!--
Project name: OBD - Organização Brasileira de Dardos
Property: Nathan Perkes
Developers: Walisson Oliveira
Page name: update.html
Start date of this page: Mar-01-2021
Last update: Mar-03-2021
Description: This is the page with all released updates and further.
-->
{% extends 'base.html' %}
{% block title %}Hub de atualizações do sistema OBD.{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}

<table class="table table-sm table-dark">
    <div class="table-responsive">
        <table class="table align-middle"></table>
    </div>
</table>

<main class="container">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h4><i class="bi bi-folder-plus"></i> Hub de atualizações do OBD</h4>
        <h6 class="border-bottom pb-2 mb-0">Siglas & grupos de atualizações</h6>

        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
            </svg>
            <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">
                    Atualizações do Sistema OBD</strong>
                Não temos a voz do Jamil Pontes para anunciar as atualizações. Mas você saberá por aqui de todas as
                mudanças no sistema, código, melhorias, etc.
            </p>
        </div>

        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                    dy=".3em">32x32</text>
            </svg>
            <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                    Patches & Error Fix</strong>
                Precisando fechar no D20 mas acertou o T1? Não tem problema! A gente tem sempre dois dardos na mão para
                reparar os erros e finalizar com T7 e D8!</p>
        </div>

        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                    dy=".3em">32x32</text>
            </svg>
            <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                    Novas Funcionalides</strong>
                Não importa se o flight é Pear, Standard ou Kite! O importante é implementar mudanças significativas e
                que gere resultados! Já praticou seu follow Through hoje? </p>
        </div>

        <small class="d-block text-end mt-3"><a href="/">Página Inicial</a></small>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">
                15/08/2021</strong>
            Plano de hospedagem atualizado para modo "escalonado" o que permitirá melhor desepenho nos horários de pico
            19h às 22h, de SEG a SEX.
        </p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                15/08/2021</strong>
            Implementado a funcionalidade para que qualquer usuário possa verificar a disponibilidade do servidor OBD <a
                href="https://scoutapm.com/shares/0c8dd79b-283a-458b-b399-39d0476b1329" target="_blank">aqui.</a></p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                15/08/2021</strong>
            Alterado modo de contabilização de vitória por LEGS ao invés de SETS dado erros constantes via WEBCAMDARTS.
        </p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                13/08/2021</strong>
            Realizado otimização do banco de dados para exibição dos rankings.</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                10/08/2021</strong>
            Implementado modo de vizualização de estatísticas de jogo em estilo relatório completo.</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                10/08/2021</strong>
            Implementado o OBD RANKING OF MERITS - Um sistema semelhante à PDC para contabilização de um ranking
            "geral".</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                06/08/2021</strong>
            Implementado opção para anexo de fotos das partidas nas modalidades MANUAL ou via SERVIDORES
            NAKKA/WEBCAMDARTS.</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                03/08/2021</strong>
            Habilitado o modo MANUAL para registros dos jogos com opção de validação em mão dupla.</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">
                25/08/2021</strong>
            Contratado o plano do servidor de arquivos/imagens CLOUDINARY para armazenagens de fotos do perfil e
            resultados anexos.
        </p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">
                09/07/2021</strong>
            Jogos efetuados via NAKKA e WEBCAMDARTS com validaçao automática ativa.
        </p>
    </div>



    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">
                09/07/2021</strong>
            Opção de upload de fotos e anexos (Habilitadas porém em fase de migração de servidor de arquivos. Prazo até
            15/07/2021.</p>
    </div>


    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">09/07/2021</strong>
            Funcuinalidade revista e funcional ao salvar dados das federações. [Observado por Gustavo C. Branco e Arthur
            Vale]</p>
    </div>

    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom"><strong class="d-block text-gray-dark">09/07/2021</strong>
            Habilitado opção para recuperaçaõ de senha via e-mail do jogador. [Observado por Gustavo C. Branco e Arthur
            Vale] </p>
    </div>

    <p><br></p>

</main>

{% endblock %}
{% block jslib %}
{% endblock %}