{% extends 'baseuser.html' %}
{% block csslib %}
{% endblock %}
{% block title %} Meus Torneios {% now "Y" %} {% endblock %}
{% block styles %} {% endblock %}
{% block page %}Meus Torneios{% endblock %}
{% block content %}
<p><br></p>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<h5><strong><i class="bi bi-list-stars"></i> Minhas Competições</strong>
    {% if tournaments %}
    <span class="badge bg-warning ">{{ tournaments | length }}</span></a>
    {% else %}
    <span class="badge bg-danger">0</span></a>
    {% endif %}
</h5>

{% if tournaments %}
<p><br></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Liga</th>
            <th scope="col">Divisão atual</th>
            <th scope="col">Fase</th>
            <th scope="col">Início</th>
            <th scope="col">Final</th>
            <th scope="col">O que deseja fazer, {{ user.first_name }} {{user.last_name }}? </th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournaments %}
        <tr>
            <td>{{ tournament.league.name }}</td>
            <td>Divisão {{ tournament.get_formation_display }}</td>
            <td>{{ tournament.league.get_phase_display }}</td>
            <td>{{ tournament.league.start_date | date:'d/m/Y'}}</td>
            <td>{{ tournament.league.end_date | date:'d/m/Y'}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-shield-exclamation"></i> Minhas Ações Disponíveis
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item " href="{% url 'results:ranking' slug=tournament.slug %}"><i
                                    class="bi bi-ui-radios"></i> Ver Classificação</a></li>
                        <li><a class="dropdown-item" href="{% url 'fixtures:player' slug=tournament.slug %}"><i
                                    class="bi bi-person-lines-fill"></i> Ver Meus Jogos</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-graph-up"></i> Minhas Estatísticas</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'index' %}"><i class="bi bi-journal-text"></i>
                                Auditar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><br></p>
{% else %}
<p>Você não está participando de nenhuma competição no momento, {{ user.first_name }}.</p>
<p><br></p>
{% endif %}


{% endblock %}
{% block jslib %}
{% endblock %}